:root {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(assets/950765.png);
  font-family: "PressStart2P";
}

@font-face {
  font-family: "PressStart2P";
  src: url("assets/PressStart2P-Regular.ttf") format("truetype");
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  height: 90vh;
  padding: 0;
  margin: 0;
}

main {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  gap: 40px;
  height: 50vh;
}

.card > img {
  width: 150px;
  height: auto;
}

.card > p {
  font-size: 15px;
}

.card {
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: none;
  border-radius: 20px;
  color: white;
  font-family: "PressStart2P";
}
.card:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
header > h1 {
  font-size: 50px;
}

header > span {
  font-size: 18px;
}

.score {
  display: flex;
  gap: 40px;
  font-size: 18px;
}

.start-container {
  display: flex;
  justify-content: center;
  height: 50vh;
}

.reset {
  font-family: "PressStart2P";
  background: none;
  font-size: 40px;
  height: 100px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}

.reset:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.resetScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  gap: 40px;
}

.resetScreen > h1 {
  font-size: 60px;
}

.sound {
  position: absolute;
  background: none;
  border: none;
  width: 10px;
  height: 10px;
  left: 5px;
  top: 5px;
  cursor: pointer;
}

.sound > img {
  width: 75px;
}

@media (max-width: 600px) {
  main {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 40px;
    width: 100vw;
  }
  header > h1 {
    font-size: 1.2rem;
  }
  header > span {
    font-size: 0.8rem;
  }

  .sound > img {
    width: 40px;
  }
  :root {
    background-size: cover;
    background-position: center;
  }
}
